/* ******************************
*  Stylesheet for Screened Devices
*  Created by: Augustine Abhulimen
*  
*  1.  Includes (fonts and supplementary stylesheets)
*  1.1 Normalize
*  1.2 Google fonts
*
*  2.  General Styles (for all pages and devices)
*
*  3.  Mobile First (styles specific to small screens)
*
*  4.  Large Screen Styles (Media Queries begin here)
*
* ****************************** */

/* 1.  Includes (fonts and supplementary stylesheets) */
/* 1.1 Normalize Import */  
@import url('normalize.css');    
/* 1.2 Google Font Import */    
 @import url('https://fonts.googleapis.com/css?family=Sansita');
 

 html {
    box-sizing: border-box;
    }
    
    *,
    *:before,
    *:after {
    box-sizing: inherit;
    }
    
    body {
    font-family: helvetica, verdana, sans-serif;
    
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
    font-family: Sansita, Eurostyle, sans-serif;
    }
#page-header{
    display:flex;
    background-color:#0e89d5;
   
}  
#dial {
    height: 150px;
    width: 150px;
    background: no-repeat center/85% url('/weather/images/wind-pointer.png');
    z-index: 100;
    margin: -.6em auto 0;

}
.n{
transform: rotate(0deg)
}
.ne{
transform: rotate(45deg)
}
.e{
    transform: rotate(90deg)
}
.se{
    transform: rotate(135deg)
}
.s{
    transform: rotate(180deg)
}
.sw{
    transform: rotate(225deg)
}
.w{
    transform: rotate(270deg)
    }
.nw{
    transform: rotate(315deg)
}  

.containers {border:2px solid black}
#dial {
    height: 150px;
    width: 150px;
    background: no-repeat center/85% url('/weather/images/wind-pointer.png');
    z-index: 100;
    margin: -.6em auto 0;
   }
#logo{
    width: 111px;
    height: 135px;
}

#site-brand{
    font-size: 4em;
}    
#page-nav{
   

    background-color: #0e89d5;
    position: fixed;
    bottom:0px;
    width:100vw;
    
}
#page-nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    list-style-type:none;
    

}
#city-section1{
    font-size: 47px;
    margin: 23px;
}
#info{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    list-style-type:none;
    
}
.containers{
    text-align: center;
    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;

}
#bg-image{
/* background-image: url("../images/rain_large.jpg"); */
background-size: cover;

}
.text{
    font-size: 7em;
}
#tem1{
    font-size:200px;
    
    }
#tem2{
    font-size: 30px;
    color:red;
    padding:0.25em;
    
}
#tem3{
    font-size: 30px;
    color:blue;
    padding:0.25em;
    }
#stemps{display:flex; justify-content: center;}
#feels-like{
    font-size: 30px; 
}
#ivalue{margin-bottom:-4em;}
/* #wind-direction */
#condition img{
    width:50%;
}
#forecast{
   
    display:flex; 
    justify-content: center;
    
}
#hourly{
    list-style-type:none; 
     display:flex;
 }
footer{
    width:100%;
    height:50px;
    background-color:#0e89d5;
    margin-bottom:80px;
}
#forecast-container{
    margin-top:-1.3em;
    background-color:rgba(200,200,200,1);
    height:140px;
    margin-bottom: -20px;
    
}
#hourly{
    
    overflow: scroll;
}
#copyrite{margin-top: 5px;}
#curWeather {
    background-size: cover;
   }
   
   /* Background pictures for summary */
   .clear {
    background-image: url("/weather/images/clear_small.jpg");
   }
   .rain {
    background-image: url("/weather/images/rain_small.jpg");
   }
   .snow {
    background-image: url("/weather/images/snow_small.jpg");
   }
   .fog {
    background-image: url("/weather/images/fog_small.jpg");
   }
   .clouds {
    background-image: url("/weather/images/clouds_small.jpg");
   }





 
@media screen and (min-width: 760px) {
    #bg-image{
        display:flex;
        
        }

               .text{
                   font-size: 46px;
                }
               #tem1 {font-size: 130px;}
            .containers{width: 33%;}
            #page-nav {
                background-color: #0e89d5;
                position: fixed;
                top: 159px;
                width: 100vw;
                height: 44px;
            }
            #city-section1 {
                font-size: 47px;
                margin: 38px;
            }
            /* Background pictures for summary */
   .clear {
    background-image: url("/weather/images/clear_large.jpg");
   }
   .rain {
    background-image: url("/weather/images/rain_large.jpg");
   }
   .snow {
    background-image: url("/weather/images/snow_large.jpg");
   }
   .fog {
    background-image: url("/weather/images/fog_large.jpg");
   }
   .clouds {
    background-image: url("/weather/images/clouds_large.jpg");
   }
}











